body
{
    text-align: center;
}

h1
{
    font-size: 70px;
}
#Monkey
{
    width: 400px;
    height: 500px;
    border-bottom: 5px solid green;
}
button
{
    height: 40px;
    width: 120px;
    font-size:30px ;
    color: blue;
    border-width: 2px ;
    border-color: blue;
}